defaults
auth on
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
account default
host {{ polybot_smtp_host }}
port {{ polybot_smtp_port }}
tls_starttls {{ 'on' if polybot_smtp_security == 'starttls' else 'off' }}
from {{ polybot_smtp_from }}
user {{ polybot_smtp_username | to_json }}
passwordeval "cat {{ polybot_root }}/secrets/smtp_password"
