[Unit]
Description=Polybot monitor schedule
[Timer]
OnCalendar={{ deployment_contract.monitor_calendar }}
Persistent=true
Unit={{ deployment_contract.service_units.monitor }}
[Install]
WantedBy=timers.target
