{{ deployment_contract.runtime_keys.origin }}={{ polybot_readiness_origin | to_json }}
{{ deployment_contract.runtime_keys.http_port }}={{ polybot_http_port }}
{{ deployment_contract.runtime_keys.secrets }}={{ (polybot_root + '/' + deployment_contract.paths.secrets) | to_json }}
{{ deployment_contract.runtime_keys.smtp_host }}={{ polybot_smtp_host | to_json }}
{{ deployment_contract.runtime_keys.smtp_port }}={{ polybot_smtp_port }}
{{ deployment_contract.runtime_keys.smtp_security }}={{ polybot_smtp_security | to_json }}
{{ deployment_contract.runtime_keys.smtp_from }}={{ polybot_smtp_from | to_json }}
