POLYBOT_AUTH_ORIGIN={{ polybot_origin | to_json }}
POLYBOT_HTTP_PORT={{ polybot_http_port }}
POLYBOT_SECRETS_DIR={{ (polybot_root + '/secrets') | to_json }}
POLYBOT_SMTP_HOST={{ polybot_smtp_host | to_json }}
POLYBOT_SMTP_PORT={{ polybot_smtp_port }}
POLYBOT_SMTP_SECURITY={{ polybot_smtp_security | to_json }}
POLYBOT_SMTP_FROM={{ polybot_smtp_from | to_json }}
